.section-color {
    &_green {
        color: $green;
    }
    &_white {
        color: $white;
    }
}

.section-bg {
    &_white {
        background-color: $white;
    }
    &_bezh {
        background-color: $bezh;
    }
    &_green {
        background-color: $green;
    }
    &_blue {
        background-color: $blue;
    }
}

.block-type {
    padding: 8rem 0;
    position: relative;
    overflow: hidden;
    .section-title,
    p,
    a,
    ul {
        position: relative;
        z-index: 1;
    }
}

.block-type_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.block-type {
    &--green {
        color: $green;
    }
    &--white {
        color: $white;
    }
    &--bezh {
        background-color: $bezh;
        color: $green;
    }
    &--blue {
        background-color: $blue;
        color: $white;
    }
    &.type-3 {
        color: $white;
        background-color: $green;
    }
}

.block-type__list {
    h3 {
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    ul {
        list-style: none;
        li {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}

.block-images {
    .block-images_item {
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-gap: 4rem;
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
        .block-images_item_desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            transform: translateY(-10rem);
        }
        // odd even
        &:nth-of-type(even) {
            .block-images_item_image {
                order: 2;
                margin-top: -20rem;
            }
            .block-images_item_desc {
                order: 1;
                transform: translateY(0rem);
            }
        }
    }
}

@media only screen and(max-width: 768px) {
    .block-type {
        padding: 5rem 0;
    }
    .block-images {
        .block-images_item {
            grid-template-columns: repeat(1,1fr);
            grid-gap: 1rem;
            &:not(:last-child) {
                margin-bottom: 0rem;
            }
            .block-images_item_desc {
                display: block;
                text-align: left;
                transform: translateY(0rem);
            }
            // odd even
            &:nth-of-type(even) {
                .block-images_item_image {
                    order: inherit;
                    margin-top: 0rem;
                }
                .block-images_item_desc {
                    order: inherit;
                    transform: translateY(0rem);
                }
            }
            &:not(:last-child) {
                margin-bottom: 4rem;
            }
        }
    }
}