.woocommerce {
    ul.products {
        li.product {
            text-align: center;
            .price {
                color: $green;
                font-size: 1rem;
            }
            .button {
                @include buttonMix;
            }
        }
    }
}   

.woocommerce {
    .button {
        @include buttonMixImportant;
    }
}