* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('../fonts/GT-Pressura-Regular.woff') format('woff'),
        url('../fonts/GT-Pressura-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Candide";
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/Candide-Medium-Italic.woff2') format('woff2');
}

@font-face {
    font-family: "Candide";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Candide-Medium.woff') format('woff'),
         url('../fonts/Candide-Medium.woff2') format('woff2');
}

html {
    font-size: 1.1vw;
    scroll-behavior: smooth;
}

body {
    font-family: 'GT Pressura', sans-serif;
}
