// Main header

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: $white;
}

// nav

.main-nav_menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
        &:not(:last-child) {
            margin-right: 2rem;
        }
        a {
            display: block;
            padding: .75rem 0;
            color: $green;
            text-decoration: none;
            font-size: 1.05rem;
        }
    }
}

@media only screen and(max-width: 768px) {
    .main-nav_menu {
        display: block;
        margin-left: 1rem;
        white-space: nowrap;
        overflow-x: scroll;
        -webkit-mask-image: linear-gradient(270deg,transparent 0,#000 25%);
        &::-webkit-scrollbar {
            display: none;
        }
        li {
            display: inline-block;
            margin-right: 1rem !important;
        }
    }
}